/* Estilos Globais */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Estilos dos Botões */
button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

/* Container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Estilos dos Ícones */
.icons img {
  max-width: 100%;
}

/* Biografia */
.biography {
  text-align: center;
}

/* Botão de Habilidades */
.skills-button {
  padding: 10px 20px;
  background-color: #0984E3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

a {
  margin: 5px;
}

/* Rodapé */
.footer {
  text-align: center;
  font-size: x-small;
  width: 30%;
  background-color: #bdc3c775;
  border-radius: 10px;
  color: #000000;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .icons {
    flex-direction: row;
    justify-content: center;
  }

  .profile-picture img {
    max-width: 100px;
  }

  .skills-button {
    width: 100%;
  }
}
